<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD
3.0//EN" "http://www.hibernate.org/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
  <!--MODIFICAR -->
    <property name="connection.url">jdbc:mysql://localhost/bd-hibernate-muchos-a-muchos?serverTimezone=UTC</property>
    <!--MODIFICAR -->
    <property name="connection.username">root</property>  
    <!--MODIFICAR -->
  <property name="connection.password">root</property> 
  <property name="connection.pool_size">1</property>
  <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="show_sql">false</property> <!-- en true muestra hql en consola -->
  <!--Mapeo Entidades -->
  <!--MODIFICAR -->
  <mapping resource="mapeos/Cliente.hbm.xml"/>
  <mapping resource="mapeos/Evento.hbm.xml"/>
 </session-factory>
</hibernate-configuration>